{% extends 'base.html' %}
{% block content %}
<div class="container py-5">
  <h1>{{ group.title }}</h1>
  <br>
  <h3>{{ group.description }}</h3>
  <br>
  {% for post in page_obj %}
    <ul>
      <li>
      Автор: {{ post.author.get_full_name }}
      </li>
      <li>
      Дата публикации: {{ post.pub_date|date:"d E Y" }}
      </li>
    </ul>
  <p>{{ post.text }}</p>
  {% if not forloop.last %}<hr>{% endif %}
  {% endfor %}
  {% include 'posts/includes/paginator.html' %}
</div>
{% endblock %}
