{% extends 'base.html' %}
{{ title }}
{% block content %}
<div class="row">
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Дата публикации: {{ post.pub_date|date:"d E Y" }}
      </li>
      {% if post.group %}
      <li class="list-group-item">
        Группа: {{ post.group.title }}
        <a class="btn btn-outline-primary btn-sm" href="{% url 'posts:group_list' post.group.slug %}">
          все записи группы
        </a>
      </li>
      {% endif %}
      <li class="list-group-item">
        Автор: {{ post.author }}
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Всего постов автора:  <span >{{ count }}</span>
      </li>
      <li class="nav-item">
        <a class="btn btn-outline-primary btn-sm" href="{% url 'posts:profile' post.author %}">
          все посты пользователя
        </a>
        <a class="btn btn-outline-primary btn-sm" href="{% url 'posts:post_edit' post.pk %}">
          редактировать пост
        </a>
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>{{ post.text }}</p>
  </article>
</div>
{% endblock %}
